<div class="modal modal-rules {% if allModalView == true %}active{% endif %}" id="modal-rules">
    <div class="modal__container">
        <div class="modal__title">
            Правила проведения и Условия участия в Программе «Наслаждайся вкусом, побеждай!» (далее – Правила)
        </div>
        <div class="modal__text">
            Стимулирующая промоакция <b>«Наслаждайся вкусом, побеждай!»</b> (далее – «Программа») проводится с целью повышения узнаваемости брендов <b>«MEDOFF», «Хуторок», «Мерная», «Союз-Виктан»,</b> повышения лояльности к ним, а также стимулирования продаж в розничных торговых точках. Принимая участие в Программе, Участники полностью соглашаются с настоящими правилами (далее – «Правила»).
            <br><br>
            Программа не преследует цели получения прибыли либо иного дохода. Программа носит исключительно рекламный характер и не требует внесения платы за участие. Программа не является лотереей или иной основанной на риске игрой и проводится в соответствии с настоящими Правилами и действующим законодательством РФ. Программа не содержит элементы риска, определение победителей осуществляется в соответствии с настоящими Правилами. Требования Федерального закона РФ № 138-ФЗ от 11.11.2003г. «О лотереях» на данную Акцию не распространяются. Призовой фонд формируется за счет средств Организатора Программы.
            <br><br>
            <b>Термины и определения. </b>
            <br><br>
            <b>Участник Программы (Участник)</b> – дееспособное физическое лицо, достигшее 18 лет, постоянно проживающее на территории РФ, а также являющееся консультантом и/или продавцом в специализированных торговых точках, при условии соблюдения положений настоящих Правил. 
            <br><br>
            <b>Товары-участники Программы</b> – перечень товаров, участвующих в Программе, указанный в п. 4.5. Правил.
            <br><br>
            <b>Победитель</b> - Участник Программы, имеющий право на получение призов в соответствии с условиями настоящих Правил.
            <br><br>
            <b>Приз</b> – доход в неденежной форме, указанный в п. <b>6.1</b>. Правил. Количество призов ограничено.
            <br><br>
            <b>Чек</b> - кассовый чек, первичный учетный документ, сформированный в электронной форме и (или) отпечатанный с применением контрольно-кассовой техники в момент расчета между покупателем и продавцом, содержащий сведения о расчете, подтверждающий факт его осуществления, и соответствующий требованиям действующего законодательства Российской Федерации о применении контрольно-кассовой техники. 
            <br><br>
            <b>Сайт Программы</b> - http://cvc-promo.ru  (далее – «Сайт»)
            <br><br>
            Настоящими Правилами могут быть предусмотрены иные термины, не определенные в настоящем разделе, толкование которых осуществляется в соответствии с текстом настоящих Правил и нормативными правовыми актами РФ. В случае отсутствия однозначного толкования термина в тексте Правил и в нормативных правовых актах РФ следует руководствоваться толкованием термина, сложившимся в практике делового оборота.
            <br><br>
            <b>1.	Общие положения проведения Программы.</b>
            <br><br>
            1.1. Наименование Программы – Программа «Наслаждайся вкусом, побеждай!».<br>
            1.2. Участие в Программе не является обязательным.<br>
            1.3. Наименование Заказчика и Организатора Программы:<br><br>
            <b>Заказчик Программы</b> – Общество с ограниченной ответственностью «КВК групп» (далее – «Заказчик»)<br>
            Реквизиты:<br>
            Адрес (место нахождения): 295047, Республика Крым, г. Симферополь, ул. Узловая, д. 6<br>
            ИНН 9109000950<br>
            КПП 910201001<br>
            ОГРН 1149102020650<br><br>
            <b>Организатор Программы</b> - Общество с ограниченной ответственностью «Информационные технологические системы» (далее – «Организатор»)<br>
            Адрес юридического лица: 107045, г. Москва, ул. Сретенка, д. 12, этаж 1 помещ. II ком. 3<br>
            Почтовый адрес: 107045, г. Москва, ул. Сретенка, д. 12, этаж 1 помещ. II ком. 3<br>
            ИНН 7708360557<br>
            КПП 770801001<br>
            ОГРН 1197746586971<br><br>

            1.4. 	Принимая участие в Программе, Участник Программы гарантирует, что ознакомлен с условиями настоящих Правил, безоговорочно соглашается с ними, даёт свое согласие Организатору на обработку и использование своих персональных данных в порядке, определенном настоящими Правилами. <br>
            1.5. 	Сотрудники Организатора не оказывают помощь Участникам Программы по выходу онлайн в сеть Интернет.<br>
            1.6. 	Организатор Программы имеет право: <br>
            1.6.1. 	С предварительного согласия Заказчика отменить проведение Программы до ее начала при условии уведомления Участников Программы о такой отмене путем размещения соответствующего объявления на Сайте Программы.<br>
            1.6.2. 	С предварительного согласия Заказчика приостановить проведение Программы после ее начала, при условии уведомления Участников Программы о таком приостановлении путем размещения соответствующего объявления на Сайте Программы.<br>
            1.6.3. 	С предварительного согласия Заказчика досрочно прекратить проведение Программы или изменить её условия после ее начала при условии уведомления Участников Программы о таком прекращении или изменении путем размещения соответствующего объявления на Сайте Программы.<br>
            1.7. Способы информирования Участников Программы.<br>
            Участники Программы будут информироваться о правилах и сроках проведения Программы в сети Интернет на Сайте Программы, через рекламные материалы Программы. <br>
            Участники Программы будут проинформированы о результатах Программы посредством сообщений на электронную почту, которую укажут в момент регистрации в Программе.<br><br>
            2.2. Территория проведения Программы – Российская Федерация. <br>
            2.3. Период проведения Программы:<br>
            Общий срок проведения Программы - с 01.12.2024 г. по 31.03.2025 г. (обе даты включительно), в том числе включающий следующие этапы:<br>
            2.3.1. Период регистрации в Акции и доступа к интерактивному обучению: <b>с 01.12.2024 г. по 28.02.2025 г. (обе даты включительно)</b> .<br>
            Период регистрации чеков в личном кабинете на сайте Программы http://cvc-promo.ru, дающих право на получение призов: <b>с 01.12.2024 г. по 28.02.2025 г. (обе даты включительно)</b>.<br>
            2.3.2. Период передачи Призов участникам – <b>с 15.12.2024 г. по 31.03.2025 г.</b>, дата розыгрыша Подарков <b>05.03.2025 г.</b><br><br>

            <b>3. Участники Программы:</b><br>
            3.1. Участниками Программы могут быть дееспособные лица, достигшие возраста 18 лет на дату проведения Программы, проживающие на территории Российской Федерации, являющиеся консультантами и/или продавцами в специализированных торговых точках, давшими свое согласие на обработку персональных данных до регистрации в Программе и выполнившие действия, указанные в настоящих Правилах. <br>
            3.2. Участником Программы является лицо, удовлетворяющее требованиям, перечисленным в п. 3.1. настоящих Правил, при условии соблюдения им условий, изложенных в настоящих Правилах. <br>
            3.3. Организатор не отвечает за какие-либо последствия ошибок Участника Программы, включая (кроме всего прочего) понесенные убытки.<br>
            3.4. Организатор на свое собственное усмотрение с учётом положений действующего законодательства Российской Федерации и настоящих Правил может признать недействительными все заявки на участие в Программе, а также запретить дальнейшее участие в настоящей Программе любому лицу, которое подделывает или извлекает выгоду из подделки процесса подачи заявок на участие, или же проведения Программы, или же действует в нарушение настоящих Правил Программы, действует деструктивным образом, или осуществляет действия с намерением досаждать, оскорблять, угрожать или причинять беспокойство любому иному лицу, которое может быть связано с настоящей Акцией. Наличие указанных обстоятельств и действий со стороны Участника, а также их оценка определяются самостоятельно Организатором. <br>
            3.5. Организатор оставляет за собой право в любой момент вводить дополнительные технические ограничения, препятствующие мошенничеству в Программе. В случае выявления любой попытки недобросовестного поведения какого-либо Участника, его регистрация будет аннулирована, и сам Участник может быть отстранен от участия в Программе. Организатор самостоятельно осуществляет оценку добросовестности участия в Программе на основании имеющихся у Организатора технических возможностей и с учётом положений действующего законодательства Российской Федерации и настоящих Правил. <br>
            3.6. Участниками Программы не могут быть:<br>
            3.6.1. сотрудники и представители Заказчика и Организатора, а также члены их семей;<br>
            3.6.2. сотрудники и представители любого третьего лица, привлеченного Организатором к организации и/или проведению Программы в рамках соответствующего договора, заключенного между Организатором и указанным третьим лицом, а также члены семей сотрудников и представителей указанного третьего лица;<br>
            3.8. Участники Программы имеют права и несут обязанности, установленные действующим законодательством Российской Федерации, а также настоящими Правилами.<br>
            3.9. Участники Программы подтверждают, что ознакомлены с правилами регистрации <br>
            3.10. В связи с ограниченным количеством Призов, регистрация в Программе новых Участников Программы может быть в любой момент ограничена и/или прекращена Организатором.<br>
            3.11. Участник подтверждает, что номер мобильного телефона, указанный им для участия в Программе, используется им (указывается) на законных основаниях, а если Участнику не принадлежит указанный номер, такой Участник гарантирует, что получил согласие от владельцев на использование номера телефона. Организатор не несет ответственности перед третьими лицами, если Участник умышленно и/или по неосторожности предоставит неверные контактные данные.<br><br>

            <b>4.	Правила и условия участия в Программе.</b><br>
            4.1. Для участия в Программе Участнику необходимо: <br>
            4.1.1. В период, указанный в п. 2.3.1. настоящих Правил, зарегистрироваться на Сайте.<br>
            4.1.2. Подтвердить согласие с Правилами и условиями Программы и Политикой обработки персональных данных и Конфиденциальности.<br>
            4.1.3. Пройти обучение в личном кабинете на Сайте. По итогу Обучения пройти тестирование с количеством правильных ответов 100%.<br>
            4.1.4. Зарегистрировать Чек в личном кабинете на Сайте, путем загрузки фотографии чека, произведенной на камеру смартфона или сканированного изображения чека, выданного при покупке. Чек должен содержать четко различимый QR-код. Один чек можно зарегистрировать только один раз. В случае, если информация на чеке недостаточно читаема, по запросу Организатора необходимо повторно загрузить чек в Личный кабинет с читаемым QR-кодом.<br>
            Регистрация чека подтверждает право Участника на участие в Программе, согласие Участника с настоящими Правилами, а также служит для оформления договорных отношений Организатора с Участником Программы.<br>
            4.1.5. При соответствии чека условиям Программы, Участник получает баллы согласно п.4.5.<br>

            4.2.	Для входа на Сайт необходим доступ в Интернет.<br>
            Доступ в Интернет оплачивается Участником Программы самостоятельно по тарифам мобильного оператора. Организатор не несет ответственность за качество телефонной связи, работы операторов, связи с сетью Интернет, а также за качество работы Интернет-провайдеров, и их функционирование с оборудованием и программным обеспечением Участников Программы, а также за иные, не зависящие от Организатора обстоятельства, равно как и за все, связанные с этим, негативные последствия. Организатор не несет ответственность за любые обстоятельства, не связанные с нарушением Организатором настоящих Правил, в том числе за невозможность отправки SMS-сообщений в соответствии с Правилами вследствие неоказания данной услуги на определенной территории и (или) проведения профилактических работ в сетях, либо по иным обстоятельствам, независящим от Организатора. <br>
            4.3. Регистрация чека не осуществляется, а лицо <b>не становится</b> Участником Программы и/или не принимает участие в получении Призов в следующих случаях:<br>
            4.4.1. если регистрируется чек, зарегистрированный другим лицом ранее;<br>
            4.4.2. если регистрация чека произошла ранее 00 часов 00 минут (по Московскому времени) дня или позднее 00 часов 00 минут (по Московскому времени) дня, указанного в п. 2.3.1. настоящих Правил;<br>
            4.4.3. регистрация чека не осуществляется, если Участник повторно регистрирует чек, который ранее уже был зарегистрирован ранее.<br>
            4.4.4. чек не соответствует следующим требованиям:<br>
            -  в перечне оплаченных товаров должны присутствовать Товары-участники Программы; <br>
            -  изображение чека должно быть хорошо читаемым, чек должен быть изображен полностью; QR-код должен быть видим; <br>
            -    изображение чека должно быть сфотографировано на светлом фоне, не размыто, без дополнительных элементов и пятен. <br>

            4.4.	После регистрации чека Организатор проводит модерацию и проверку в течение 3 (трех) суток. По результатам модерации Участнику приходит сообщение в Личном кабинете на Сайте о результатах модерации.<br>

            <b>4.5.	Порядок начисления баллов:</b><br><br>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>SKU - Бренд</th>
                            <th>Емкость, литры</th>
                            <th>SKU - Наименование</th>
                            <th>Сумма баллов участнику</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Регистрация в Акции</td>
                            <td>-</td>
                            <td>-</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Обучение Medoff/ Хуторок и тестирование по итогам обучения (2 модуля)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,25</td>
                            <td>Medoff Berries настойка сладкая 0,25 л. ГП</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,25</td>
                            <td>Medoff Cayenne 0,25 л. 45% ГП</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,25</td>
                            <td>Medoff Classic 0,25 л. НД</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,375</td>
                            <td>Medoff Classic 0,375 л. НД</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,5</td>
                            <td>Medoff 0,5 л. ГП</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,5</td>
                            <td>Medoff Berries настойка сладкая 0,5 л. ГП</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,5</td>
                            <td>Medoff Cayenne 0,5 л. 45% ГП</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,5</td>
                            <td>Medoff Classic 0,5 л. НД</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,5</td>
                            <td>Medoff Original 0,5 л. НД</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,5</td>
                            <td>Medoff Silk 0,5 л. ГП</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,7</td>
                            <td>Medoff Classic 0,7 л. НД</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>0,7</td>
                            <td>Medoff Original 0,7 л. НД</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>1</td>
                            <td>Medoff 1,0 л. ГП</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>1</td>
                            <td>Medoff Classic 1,0 л. НД</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Medoff</td>
                            <td>1</td>
                            <td>Medoff Silk 1,0 л. ГП</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Хуторок</td>
                            <td>0,25</td>
                            <td>Хуторок Домашняя на Меду с Хреном настойка горькая 0,25 л. ГП</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Хуторок</td>
                            <td>0,25</td>
                            <td>Хуторок Душевная водка 0,25 л. ГП</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Хуторок</td>
                            <td>0,25</td>
                            <td>Хуторок на Деревенских Яблочках настойка сладкая 0,25 л. ГП</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Хуторок</td>
                            <td>0,25</td>
                            <td>Хуторок Сливовица Станичная настойка сладкая 0,25 л. ГП</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Хуторок</td>
                            <td>0,5</td>
                            <td>Хуторок Домашняя на Меду с Хреном настойка горькая 0,5 л. ГП</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Хуторок</td>
                            <td>0,5</td>
                            <td>Хуторок Душевная водка 0,5 л. ГП</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Хуторок</td>
                            <td>0,5</td>
                            <td>Хуторок на Деревенских Яблочках настойка сладкая 0,5 л. ГП</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Хуторок</td>
                            <td>0,5</td>
                            <td>Хуторок Сливовица Станичная настойка сладкая 0,5 л. ГП</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Мерная</td>
                            <td>0,25</td>
                            <td>Мерная На молоке 0,25 л</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Мерная</td>
                            <td>0,5</td>
                            <td>Мерная На молоке 0,5 л.</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Мерная</td>
                            <td>0,5</td>
                            <td>Мерная Традиция 0,5 л.</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,25</td>
                            <td>Союз-Виктан КЛАССИЧЕСКАЯ 0,25л</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,25</td>
                            <td>Союз-Виктан МЯГКАЯ 0,25л</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,25</td>
                            <td>Союз-Виктан ОРИГИНАЛЬНАЯ 0,25л</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,5</td>
                            <td>Союз-Виктан ГРАН-ПРИ 0,5л</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,5</td>
                            <td>Союз-Виктан КЛАССИЧЕСКАЯ 0,5л</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,5</td>
                            <td>Союз-Виктан ЛЮКС 0,5л</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,5</td>
                            <td>Союз-Виктан МЯГКАЯ 0,5л</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,5</td>
                            <td>Союз-Виктан ОРИГИНАЛЬНАЯ 0,5л</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,5</td>
                            <td>Союз-Виктан ФАВОРИТ 0,5л</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,75</td>
                            <td>Союз-Виктан ГРАН-ПРИ 0,75л</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,75</td>
                            <td>Союз-Виктан ЛЮКС 0,75л</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Союз-Виктан</td>
                            <td>0,75</td>
                            <td>Союз-Виктан ФАВОРИТ 0,75л</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div><br><br>


            <b>5. Права и обязанности Участников и Организатора Программы.</b><br>
            <b>5.1. Участники.</b><br>
            5.1.1. Участники Программы имеют следующие права:<br>
            5.1.1.1. право на получение информации о Программе в соответствии с настоящими Правилами;<br>
            5.1.1.2. право на получение Приза в случае, если Участник наберет необходимое количество баллов в соответствии с настоящими Правилами;<br>
            5.1.2. Участники Программы несут следующие обязанности:<br>
            5.1.2.1.  соблюдать Правила Программы во время её проведения;<br>
            5.1.2.2. предоставлять Организатору достоверную информацию о себе в соответствии с Правилами Программы;<br>
            5.1.2.3. иные обязанности, предусмотренные настоящими Правилами и действующим законодательство РФ.<br><br>

            <b>5.2. Организатор.</b><br>
            5.2.1. Организатор имеет следующие права:<br>
            5.2.1.1. Организатор оставляет за собой право в рамках Программы изменить количество, наименование и характеристики Призов. При этом Организатор должен уведомить об этом Участников Программы не позднее, чем за 2 (два) рабочих дня до такого изменения. Информация об изменениях публикуется на Сайте.<br>
            5.2.1.2. Организатор имеет право на своё собственное усмотрение, не объясняя Участникам причин и не вступая с ними в переписку, кроме случаев обращения Участников за разъяснениями, признать недействительными любые действия Участников Программы, а также запретить дальнейшее участие в Программе любому лицу, в отношении которого у Организатора возникли обоснованные подозрения в том, что он подделывает данные или извлекает выгоду из любой подделки данных, необходимых для участия в Программе в том числе, но не ограничиваясь следующими действиями:<br>
            -	Если у Организатора есть предположения о том, что предоставленная Участником информация при регистрации неверна, неполна, ошибочна, недостоверна или неточна;<br>
            -	Если у Организатора есть сомнения / основания полагать, что Участник совершает мошеннические действия, участвует в обмане, подкупе или финансовых махинациях, предложениях материальной выгоды лицам, принимающим участие в Программе, в том числе во множественных регистрациях, использовании динамических и прочих манипуляций на Сайте, которые повлекли или могут повлечь за собой неблагоприятные последствия различного типа и степени как для самого Сайта, так и его Участников, Организатора или Заказчика;<br>
            -	Если Участник действует в нарушение настоящих Правил.<br>
            5.2.1.3. Организатор не компенсирует Участникам расходы на оплату услуг Интернет-провайдера, мобильного оператора. Любые расходы (включая коммуникационные или транспортные расходы) Участники несут самостоятельно.<br>
            5.2.1.4. Организатор не вступает в споры между лицами относительно того, кто зарегистрировал чек. Участником будет считаться лицо, первое зарегистрировавшее чек и которое, в случае спорной ситуации, предоставит оригинал чека.<br>
            5.2.1.5. Организатор вправе отказать в выдаче Приза Участнику, нарушившему настоящие Правила.<br>
            5.2.2. Организатор несёт следующие обязанности:<br>
            5.2.2.1 Организатор обязуется провести Программу в соответствии с настоящими Правилами.<br>
            5.2.2.2. Передать Приз Участнику в случае, если Участник наберет необходимое количество баллов в соответствии с настоящими Правилами.<br><br>
           
            <b>6.  Призовой фонд</b> Программы.<br>
            6.1. Призовой фонд Программы состоит из:<br><br>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>№<br> п/п</th>
                            <th>Наименование Приза</th>
                            <th>Сумма Приза в руб.</th>
                            <th>Кол-во, шт.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="4" style="text-align: center">
                                Призы за баллы
                            </th>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>Электронный подарочный сертификат ОЗОН</td>
                            <td>500,00 р.</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Электронный подарочный сертификат ОЗОН</td>
                            <td>700,00 р.</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Электронный подарочный сертификат ОЗОН</td>
                            <td>1000,00 р.</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Электронный подарочный сертификат ОЗОН</td>
                            <td>3000,00 р.</td>
                            <td>100</td>
                        </tr>

                        <tr>
                            <th colspan="4" style="text-align: center">
                                Подарки самым активным участникам (далее – «Подарки»)
                            </th>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>
                                Новая Станция Мини (с часами) - умная колонка с Алисой стоимостью  9 370 (Девять тысяч триста семьдесят) рублей 00 копеек, включая денежную часть, которая состоит из:<br>
                                - Новой Станции Мини (с часами) - умной колонки с Алисой стоимостью 7 490 (Семь тысяч четыреста девяносто) рублей 00 копеек;<br>
                                - И денежной части приза в размере 1 880 (Тысяча восемьсот восемьдесят) рублей 00 копеек, рассчитываемой по формуле Y = (N – 4000)/0,65*0,35 (где: Y – сумма денежной части приза, N - стоимость вещевой части приза).<br>
                                Денежная часть приза исчисляется исходя из общей стоимости приза и используется Организатором Акции для уплаты соответствующего налога, согласно требованиям действующего законодательства РФ.<br>
                                Сертификат и денежная часть приза являются единым призом. Выплата денежной части приза отдельно от приза не производится.<br>
                            </td>
                            <td> 9 370,00 р.</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div><br><br>

            6.2. Участникам Программы не может быть выплачен денежный эквивалент стоимости Призов и Подарков. Количество Призов и Подарков ограничено.<br>
            6.3. <b>Каждый участник Программы может получить Призы за баллы в общей сумме, не превышающей 4000 баллов. Выдача Призов и Подарков свыше указанной суммы баллов не производится.</b> <br><br>

            <b>7. Порядок вручения Призов и Подарков</b><br>
            7.1. Баллы обмениваются на Призы из расчета: 1 балл = 1 рубль <br>
            7.2.  Призы вручаются Участникам еженедельно по итогу модерации и проверки загруженных чеков и начисленных баллов.<br>
            7.3. Призы направляются Участникам посредством отправки файла с электронным подарочным сертификатом на электронную почту, указанную при регистрации в Программе.<br>
            7.4. Организатор считается исполнившим обязательства по выдаче Приза в момент его передачи Участнику по электронной почте.<br>
            7.5. Организатор оставляет за собой право аннулировать результаты участия в Программе в случае, если Участником были нарушены настоящие Правила. <br>
            7.6. <b>Порядок определения обладателей Подарков</b>.<br>
            Розыгрыш Подарков проводится Организатором 3 марта 2025 г.<br>
            Обладатели Подарков определяются по следующей формуле:<br>
            N=X/(Q+1), где:<br>
            N — порядковый номер выигрышной заявки претендента на получение подарка / коэффициент для <br>
            определения порядковых номеров выигрышных заявок претендентов на получение призов. <br>
            Х – общее количество заявок, зарегистрированных за период приёма заявок в розыгрыш. <br>
            Q – количество подарков, разыгрываемых в период розыгрыша. <br>
            В случае получения дробного значения числа N при расчете по формуле округление производится до целого числа в меньшую сторону. <br>
            В случае, если в Розыгрыше предусмотрено более одного Победителя, вторым / третьим и т.д. Победителем становится, каждый N-й Участник. <br>
            Итого по указанной формуле определяется количество Победителей, равное кол-ву разыгрываемых в каждый расчетный период Подарков.<br>
            7.7. Для получения Подарков участникам, получившим уведомление о присуждении Подарков, необходимо <br>
            в срок <b>не позднее 15 марта 2025г.,</b> предоставить Организатору путем отправки письма на адрес электронной почты cvc@itsgroup24.ru следующие сведения:<br>
            •	имя, номер телефона, адрес доставки приза <br>
            •	копию паспорта гражданина РФ (первая страница с закрытой фотографией и разворот с местом регистрации), <br>
            •	копию ИНН, <br>
            •	копию СНИЛС, <br>
            •	адрес для доставки приза и передачи курьеру оригинала Акта приема-передачи;<br>
            •	в случае направления Организатором документов для заполнения: заполнить все документы, предоставляемые Организатором, необходимые для документального оформления получения приза и поставить свою собственноручную подпись. Указание неполной/недостоверной информации, необходимой для заполнения указанного документа означает отказ от приза;<br>
            Форма Акта приема-передачи приза направляется победителю ответным письмом по электронной почте. Подарки и Призы Акции направляются не позднее 31 марта 2025 года.<br>
            7.8. Внимание! Организатор настоящим информирует Участников об обязанностях уплаты налога на доходы физических лиц со стоимости приза, превышающей 4000 рублей по ставке 35% на основании статьи 217 и статьи 224 Налогового Кодекса РФ. В соответствии с требованиями действующего законодательства Российской Федерации Организатор Акции предоставляет в налоговые органы, по месту своей регистрации, сведения о доходах физических лиц по форме «Справка о доходах», выплаченных Участникам в связи с получением призов Акции. При выдаче приза Организатор Акции, исполняя обязанности налогового агента, исчисляет налог на доходы физических лиц и удерживает его из денежной части приза в соответствии с действующим налоговым законодательством Российской Федерации для перечисления его в бюджет соответствующего уровня.<br>
                Одновременно Организатор информирует участников о том, что в случае получения в налоговом периоде иных призов в результате выигрыша в иных различных стимулирующих мероприятиях с совокупной стоимостью более, чем 4 000 рублей, такой участник самостоятельно оплачивает НДФЛ со стоимости таких призов в размере 35% во исполнение ст. 226 Налогового Кодекса Российской Федерации.<br>
            7.9. Организатор Акции считается исполнившим обязательства в момент отправки Подарков Победителям. Моментом передачи Подарков считается дата передачи приза в курьерскую службу для доставки по адресу, указанному Победителем в порядке, изложенном в п. 7.8. Правил. После получения Подарков Победители обязаны подписать и отправить на электронную почту Организатора cvc@itsgroup24.ru скан полностью корректно подписанного Акта приема-передачи приза. На момент встречи с курьером для получения приза и передачи оригинала Акта приема-передачи приза победитель обязан показать паспорт, подтверждающий личность, а также передать оригинал Акта приема-передачи приза. В случае если данные паспорта не совпадают с паспортными данными, которые были указаны в порядке п. 7.8., курьер вправе отказать во вручении Подарка.<br>
            7.10. Организатор не несет ответственности в случае отправки приза по неправильному адресу или не тому адресату вследствие предоставления Участником Акции неверных данных.<br><br>

            <b>8. Персональные данные</b><br>
            8.1. Участникам Программы (далее — «субъекты персональных данных»), необходимо предоставить свои персональные данные (Имя, Фамилия, город, название магазина, номер мобильного телефона, адрес электронной почты) в соответствии с условиями настоящих Правил. Предоставляемая информация относится к персональным данным и охраняется в соответствии с действующим законодательством Российской Федерации. <br>
            Принимая участие в Программе, Участник подтверждает свое согласие на обработку Организатором / предоставленных персональных данных, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, распространение, обезличивание, блокирование, удаление, уничтожение для целей проведения настоящей Программы  на весь срок ее проведения и на срок указанный в п. 8.4. настоящих Правил, в соответствии с положениями, предусмотренными Федеральным законом РФ № 152-ФЗ от 27 июля 2006 г. «О персональных данных» (далее - Закон). Указанное согласие может быть отозвано Участником в любое время путем уведомления, направленного по электронной почте по адресу: cvc@itsgroup24.ru <br>
            Участники понимают указанные/предоставленные ими для участия в Программе персональные данные, будут обрабатываться Организатором всеми необходимыми способами в целях проведения Программы и дают согласие на такую обработку при принятии настоящих Правил.<br>
            8.2. Цели сбора персональных данных: <br>
            • Персональные данные собираются с целью выдачи Приза, указанных в п. 6.1. настоящих Правил, сообщений победителю о набранных баллах, информации о продукции Организатора и проводимых ими мероприятиях, рекламных предложений, а также с целью проведения маркетингового анализа и подготовки статистической информации, а также иных целей, необходимых в соответствии с законодательством Российской Федерации.  <br>
            • в рамках проводимой Программы Оператором по обработке, сбору и хранению персональных данных является Организатор, персональные данные получаются Организатором с согласия субъектов персональных данных. <br>
            • Обработка персональных данных может осуществляться Организатором, а также уполномоченными им лицами, с применением автоматизированных средств обработки данных. Участник вправе получить иную информацию о лице, осуществляющем обработку персональных данных Участника, в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» путем обращения к Организатору. <br>
            8.3. Право доступа субъекта персональных данных к своим персональным данным:<br>
            • Субъект персональных данных имеет право на получение сведений об Организаторе, о месте его нахождения, о наличии у Организатора защитных технических средств персональных данных, относящихся к соответствующему субъекту персональных данных, а также на ознакомление с такими персональными данными, как в письменной форме (по соответствующему запросу, содержащему номер основного документа, удостоверяющего личность субъекта персональных данных или его законного представителя, сведения о дате выдачи указанного документа и выдавшем его органе, а также собственноручную подпись субъекта персональных данных или его законного представителя), так и в устной форме посредством телефонной связи. <br>
            8.4. Защита персональных данных: <br>
            • Организатор, имеющий доступ к персональным данным, обеспечивает конфиденциальность персональных данных в установленном законом порядке. <br>
            • Персональные данные Участника хранятся до «31» декабря 2027 года, после чего уничтожаются Организатором. <br>
            • Субъект персональных данных вправе отозвать свое согласие, отправив электронное письмо на адрес: cvc@itsgroup24.ru. Организатору Программы с указанием в уведомлении своей фамилии, имени, отчества, возраста и города, которые Участник сообщал для участия в Программе  в числе своих регистрационных данных. <br>
            8.5. Принимая участие в Программе, Участник даёт согласие на получение рекламных и/или информационных сообщений, рекламных предложений от Организатора Программы, проведение маркетингового анализа и подготовки статистической информации, использования этих данных в ходе проведения других маркетинговых акций, в том числе по сетям электронной связи (электронная почта, SMS - сообщения) на указанный им адрес электронного почтового ящика/номер мобильного телефона.<br>
            8.6. Трансграничная передача персональных данных и обработка биометрических персональных данных Организатором не осуществляется. Персональные данные Участников хранятся на территории России.<br><br>

            <b>9. Прочее.</b><br>
            9.1. Организатор имеет право по согласованию с Заказчиком изменить Правила Программы, разместив соответствующую информацию в сети Интернет на Сайте.<br>
            9.2. Во всём, что не предусмотрено настоящими Правилами, Организатор, Заказчик и Участники Программы руководствуются действующим законодательством Российской Федерации.<br>
            9.3. Организатор Программы не несет ответственность по обязательствам, указанным в настоящих Правилах в случае возникновения форс-мажорных обстоятельств, определяемых законодательством Российской Федерации.<br>
            9.4. Во всех спорных вопросах, касающихся Программы, а также во всем, что не предусмотрено настоящими Правилами, Организатор и Участники руководствуются действующим законодательством Российской Федерации.<br>
            9.5. Организатор не несет ответственности перед Участниками в случае отсутствия у Участника возможности воспользоваться Призом. <br>
            9.6. Организатор ни при каких обстоятельствах не будет нести ответственность за какой-либо ущерб и/или травмы, понесенные или нанесенные участнику и его сопровождающим в период реализации Приза, указанного в п. 6.1. настоящих Правил.<br>
            9.7. Все права на фирменные наименования, товарные знаки и знаки обслуживания, упомянутые в настоящих Правилах, принадлежат их владельцам. <br>
            9.8. Организатор ни при каких обстоятельствах не несет ответственности за качество услуг компаний, указанных в наименованиях Призов (сертификатах на получение). Все претензии участников Программы по вопросам использования услугами указанных компаний, направляются непосредственно в соответствующую компанию.<br>
        </div>
        <button class="modal__button" data-modal-close>
            Да
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>